* {
  user-select: none;
}

body {
  overflow: hidden;
  background-color: transparent;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main {
  width: 50rem;
}

.header {
  border-bottom: 1px solid rgba(200, 200, 200, 0.5);
}

.player-list {
  height: 30rem;
  overflow-x: hidden;
  overflow-y: scroll;
}

.blinking {
  animation: blinker 1s linear infinite;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}

/* width */
::-webkit-scrollbar {
  width: 0.5rem;
}

/* Track */
::-webkit-scrollbar-track {
  background: rgb(50, 50, 50);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

#playerinfo {
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);

  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
}
